<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packages>
    <package id="NUnit" version="3.11.0" targetFramework="net461" />
    <package id="NUnit3TestAdapter" version="3.12.0" targetFramework="net461" />
  </packages>
  <packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
             Clearing the box sets this to False, disabling command-line, automatic, and MSBuild-Integrated restore. -->
    <add key="enabled" value="True" />
  </packageRestore>
</configuration>